<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">Users <span class="badge">{{users.length}}</span></div>
                <div class="panel-body">
                    <div ng-hide="users.length === 0">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="active pointer no_selection" ng-repeat="user in users" ng-click="" ng-dblclick="viewPatient(patient.id)">
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="goToAddUser()">Add User</button>
                    <button type="button" class="btn btn-primary" ng-click="goToSong()">View Songs</button>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>