<div class="panel panel-default">
    <div class="panel-heading">Songs <span class="badge">{{songs.length}}</span></div>
    <div class="panel-body">
        <div ng-hide="users.length === 0">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active no_selection" ng-repeat="song in songs">
                            <td>{{song.title}}</td>
                            <td>{{song.artist}}</td>
                            <td>{{song.album}}</td>
                            <td><button type="button" class="btn btn-danger btn-xs" ng-click="removeSong(song.uuid)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel-heading">Add Song</div>
    <div class="panel-body">
        <form name="insertSong">
            <div class="form-group">
                <label for="insertSongTitle">Title</label>
                <input type="text" class="form-control" ng-model="title" id="insertSongTitle" placeholder="Enter title of the song" />
            </div>
            <div class="form-group">
                <label for="insertSongArtist">Artist</label>
                <input type="text" class="form-control" ng-model="artist" id="insertSongArtist" placeholder="Enter artist name" />
            </div>
            <div class="form-group">
                <label for="insertSongAlbum">Album</label>
                <input type="text" class="form-control" ng-model="album" id="insertSongAlbum" placeholder="Enter album name" />
            </div>

            <button class="btn btn-success" ng-disabled="insertSong.$invalid || !isValid()" ng-click="insert()" type="submit">Add</button>
        </form>
    </div>

</div>