<!DOCTYPE html>
<html lang="en">

<head>
    <title>Favorite Songs</title>
    <link rel="stylesheet" href="css/vendor/normalize.css">
    <link rel="stylesheet" href="css/vendor/xeditable.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="songs" ng-controller="UserController">
    <div id="loader" loader ng-show="showEl"></div>
    <div class="spinner" loader ng-show="showEl">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
        <span class="spinnertext">Loading</span>
        <br>
        <button class="btn btn-danger btn-xs" ng-click="cancelRequests()">Cancel</button>
    </div>
    <div class="container-fluid" ng-cloak>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <button type="button" class="btn btn-primary" ng-click="goToUsers()">Users</button>
                <button type="button" class="btn btn-primary" ng-click="goToSongs()">Songs</button>
            </div>
            <div class="col-sm-1"></div>
            <br>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div ng-view></div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</body>

<script type="text/javascript" src="js/vendor/angular.min.js"></script>
<script type="text/javascript" src="js/vendor/angular-animate.min.js"></script>
<script type="text/javascript" src="js/vendor/angular-sanitize.min.js"></script>
<script type="text/javascript" src="js/vendor/ui-bootstrap-tpls-2.2.0.min.js"></script>
<script type="text/javascript" src="js/vendor/angular-route.min.js"></script>
<script type="text/javascript" src="js/vendor/angular-resource.min.js"></script>
<script type="text/javascript" src="js/vendor/angular-local-storage.min.js"></script>
<script type="text/javascript" src="js/vendor/xeditable.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/factories.js"></script>

</html>